$primary-color: #E95057;
$primary-color-light: #FF8086;
$primary-color-dark: #9C1C22;

$secondary-color: #3CD864;
$secondary-color-light: #89E9A1;

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Noto+Serif|Roboto');

@import "utbildningStyle";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo {
  width: 125px;
  position: fixed;
  margin-top: 10px;
  float: left;
}

.logo img {
  width: 125px;
}

nav {
  z-index: 1;
  width: 100%;
  line-height: 60px;
  box-shadow: 1px 3px 15px black;
}

nav ul {
  line-height: 60px;
  list-style: none;
  background-color: $primary-color;
  overflow: hidden;
  text-align: right;
  margin: 0;
  padding: 0 40px 0 0;
  transition: 1s;
}

nav ul li {
  display: inline-block;
  padding: 18px 40px;
}

nav ul li a {
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 16px;
}

nav ul li a:hover {
  border-bottom: 1px black solid;
  color: #000000;
}

.menu-icon {
  line-height: 60px;
  font-size: small;
  width: 100%;
  background: #ffffff;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #ffffff;
  display: none;
}


/*-------------- SLIDESHOW ---------------------*/
* {box-sizing: border-box}
.mySlides {display: none}
.slideshow-container img {
  vertical-align: middle;
  border-radius: 10px;
}

/* Slideshow container */
.slideshow-container {
  border-radius: 10px;
  max-width: 1200px;
  position: relative;
  margin: 25px auto 0 auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*-------------- GRID ------------------*/
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  margin: 5% 15% 5% 15%;
}

.gridItem {
  margin: 0 5% 0 5%;
  text-align: left;
  padding: 0 10px;
}

.gridItem:hover {
  box-shadow: 1px 1px 6px black;
}

.gridItem img {
  width: 100%;
  border-radius: 10px;
}

.gridItem h3 {
  color: #000000;
}


/*--------------- FOOTER ------------------*/
footer {
  text-align: center;
  background-color: $primary-color-dark;
  padding: 20px 0 10px 0;
  color: #ffffff;
}

footer h6 {
  font-size: 20px;
}

footer p {
  margin-top: 5%;
  font-size: 14px;
}

footer a {
  width: 0;
}

footer a:hover {
  color: $primary-color-light;
}

.footerGrid {
  margin: 50px 15% 0 15%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;
}

.footerItem, .footerItemSocial {
  text-align: left;
  max-width: 300px;
}

.footerItem a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  margin: 5px 0 5px 0;
  color: #ffffff;
}

.footerItemSocial img {
  max-width: 40px;
  display: inline-block;
}

.footerItemSocial a {
  display: inline-block;
  width: 40px;
}


/* ----- Media Queries ----- */
@media(max-width: 768px) {

  .logo {
    top: 0;
  }

  nav ul {
    max-height: 0px;
    background: $primary-color;
    padding-right: 0;
  }

  .menu-icon {
    background-color: $primary-color;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  nav ul li a:hover {
    border: none;
    background-color: $primary-color-light;
    color: #ffffff;
  }

  .menu-icon {
    display: block;
  }


  /* ----- Grid -----*/
  .gridContainer {
    grid-template-columns: auto;
  }


  /* ----- FOOTER -----*/
  .footerGrid {
    grid-template-columns: auto auto;
  }

}

.snabbInfoContainer {
  border-radius: 10px;
  max-width: 1200px;
  position: relative;
  margin: 0 auto 0 auto;
  height: 300px;
  border: 3px black;
  background-image: url(../img/bakgrundsgra.png);
}

.container {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

#person {
  object-fit: contain;
  max-height: 300px;
}

#sidTitel {
  font-size: 25px;
}

#underRubrik {
  font-size: 21px;
}

.snabbFakta {
  content: 'center';
  display: inline-block;
}

#snabbFakta {
  display: inline-block;
  float: right;
  text-align: left;
  font-size: 15px;

}

#snabbFakta ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#snabbFakta ul li {
  padding-left: 1em;
}
#snabbFakta ul li:before{
  content: "";
  margin-right: 10px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #e95057;
  border-radius: 50%;
  margin-bottom: 2px;

}
.snabbFakta ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

.snabbFakta ul li {
  padding-left: 1em;
}
.snabbFakta ul li:before {
  content:"";
  margin-right: 10px;
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: #e95057;
  border-radius: 50%;
  margin-bottom: 2px;

}

.listTitel {
  font-size: 25px;
  margin-left: 3.5%;
}
.fotNot {
  margin-left: 3.5%;
  font-size: 20px;
}

.gridContainerYH {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

#testwidth {
  width: 600px;
}

#testwidth1 {
  width: 600px;
}

#testwidth2 {
  width: 600px;
}