$primary-color: #E95057;
$primary-color-light: #FF8086;
$primary-color-dark: #9C1C22;

$secondary-color: #3CD864;
$secondary-color-light: #89E9A1;

@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Noto+Serif|Roboto');

@import "utbildningStyle";

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  font-family: "Helvetica Neue",sans-serif;
  font-weight: lighter;
}

header {
  width: 100%;
  background-size: cover;
  position: sticky;
  top: 0;
  z-index: 9999;
}

.logo {
  width: 125px;
  //position: fixed;
  //margin-top: 10px;
  //float: left;

  img {
    width: 125px;
  }
}
#menu-items {
  width: 100%;
}
nav {
  z-index: 1;
  width: 100%;
  line-height: 60px;
  box-shadow: 1px 3px 15px black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  display: flex;
  background-color: $primary-color;

  ul {
    line-height: 60px;
    list-style: none;
    overflow: hidden;
    text-align: right;
    margin: 0;
    padding: 0 40px 0 0;
    transition: 1s;

    li {
      display: inline-block;
      padding: 18px 40px;

      a {
        text-decoration: none;
        text-transform: uppercase;
        color: #ffffff;
        font-size: 12px;

        &:hover {
          color: #000000;
        }
      }
    }
  }


}

.menu-icon {
  line-height: 60px;
  font-size: small;
  width: 100%;
  background: #ffffff;
  text-align: right;
  box-sizing: border-box;
  padding: 15px 24px;
  cursor: pointer;
  color: #ffffff;
  display: none;
}


/*-------------- SLIDESHOW ---------------------*/
* {box-sizing: border-box}
.mySlides {display: none}

/* Slideshow container */
.slideshow-container {
  border-radius: 10px;
  max-width: 1200px;
  position: relative;
  margin: 25px auto 0 auto;

  img {
    vertical-align: middle;
    border-radius: 10px;
  }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 30px 12px 30px 12px;
  margin-top: -40px;
  background-color: $primary-color-light;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: $primary-color-light;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}


/*-------------- GRID ------------------*/
.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  margin: 5% 15% 5% 15%;
}

.gridItem {
  height: 100%;
  margin: 0 5% 0 5%;
  text-align: left;
  padding: 10px;
  background-color: #ff808614;
  border:0px solid $primary-color-light;
  border-left-width: 8px;
  border-radius: 0px 10px 10px 0px;

  &:hover {
    box-shadow: 1px 1px 2px #404040;
    transition: box-shadow 0.4s;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 10px;
  }

  h3 {
    color: #000000;
    font-family: "Noto Serif", serif;
  }

  p {
    line-height: 1.3em;
    color: #1d1d1d;
  }
}

a.blogDisplaySmall {
  text-decoration: none;
  height: 100%;

  &:hover {
    text-decoration: underline;
    text-decoration-color: $primary-color-light;
  }
}
div#createPost {
  padding:10px;
  h1 {
    color: #342f2f;
    margin: 0px;
    padding: 20px;
    text-align: center;
    font-size: 30px;
    text-shadow: 1px 1px #808080;
    font-family: "Archivo Black", sans-serif;
  }
  fieldset {
    border: 1px solid #cecece;
    border-radius: 10px;
    legend {
      color: #424242;
      padding: 5px;
      font-size: 26px;
      border:1px solid #cecece;
      border-left-width: 4px;
      border-left-color: $primary-color;
      background-color: #f7f7f7;
      border-radius: 0px 10px 10px 0px;
      font-weight: bold;
    }
  }
  form {
    padding: 10px;
    div.inputArea {
      border: 0px solid $primary-color-dark;
      border-left-width: 3px;
      padding: 2px 15px;
      margin: 0px 0px 25px;
    }
    label {
      font-size: 22px;
    }
    p {
      margin: 0px;
    }

    input, textarea {
      font-size: 16px;
      margin: 0px;
      padding:5px;
      border:1px solid #cecece;
      border-radius: 3px;
    }
    input:focus, textarea:focus {
      font-size: 18px;
      transition: font-size 0.4s;
    }
    input[type=submit] {
      background-color: $primary-color;
      padding:10px;
      border: 1px solid #cecece;
      font-weight: bold;
    }
    input[type=submit]:hover {
      cursor: pointer;
    }
    input[type=submit]:focus {
      font-size: 16px;
      background-color: $primary-color-light;
      outline: none;
      box-shadow: inset 1px 1px 4px #000000;
    }
  }
}

/*--------------- FOOTER ------------------*/
footer {
  text-align: center;
  background-color: $primary-color-dark;
  padding: 20px 0 10px 0;
  color: #ffffff;

  h6 {
    font-size: 20px;
  }

  p {
    margin-top: 5%;
    font-size: 14px;
  }

  a {
    width: 0;

    &:hover {
      color: $primary-color-light;
    }
  }


}

.footerGrid {
  margin: 50px 15% 0 15%;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 25px;

  @media screen and (max-width: 700px) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

.footerItem, .footerItemSocial {
  text-align: left;
  max-width: 300px;
}

.footerItem a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  margin: 5px 0 5px 0;
  color: #ffffff;
}

.footerItemSocial {
  img {
    max-width: 40px;
    display: inline-block;
  }

  a {
    display: inline-block;
    width: 40px;
  }
}

/* ----- Media Queries ----- */
@media(max-width: 1200px) {

  .logo {
    top: 0;
  }

  nav ul {
    max-height: 0px;
    background: $primary-color;
    padding-right: 0;
  }

  .menu-icon {
    background-color: $primary-color;
  }

  .showing {
    max-height: 34em;
  }

  nav ul li {
    box-sizing: border-box;
    width: 100%;
    text-align: center;
    padding: 0;
  }

  nav ul li a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }

  nav ul li a:hover {
    border: none;
    background-color: $primary-color-light;
    color: #ffffff;
  }
  .menu-icon {
    display: block;
  }


  /* ----- Grid -----*/
  .gridContainer {
    grid-template-columns: auto;
  }


  /* ----- FOOTER -----*/
  .footerGrid {
    grid-template-columns: auto auto;
  }

}



.snabbInfoContainer {
  border-radius: 10px;
  max-width: 1200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 300px;
  border: 3px black;
  background-image: url(../img/bakgrundsgra.png);

}

.container {
  display: inline-block;
  width: 30%;
  vertical-align: top;
}

#person {
  object-fit: contain;
  max-height: 300px;
  margin-left: 12%;
}
#efterlangtad {
  margin-left: 12%;
}

#sidTitel {
  font-size: 35px;
}

#underRubrik {
  font-size: 21px;
}

#snabbFakta {
  display: inline-block;
  float: right;
  text-align: left;
  font-size: 15px;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 1em;
    }

    li:before {
      content: "";
      margin-right: 10px;
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #e95057;
      border-radius: 50%;
      margin-bottom: 2px;
    }
  }
}

.snabbFakta {
  content: 'center';
  display: inline-block;

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding-left: 1em;
    }

    li:before {
      content:"";
      margin-right: 10px;
      display: inline-block;
      width: 8px;
      height: 8px;
      background-color: #e95057;
      border-radius: 50%;
      margin-bottom: 2px;
    }
  }
}

.listTitel {
  font-size: 25px;
  margin-left: 3.5%;
}
.fotNot {
  margin-left: 3.5%;
  font-size: 20px;
}
.paragrafText{
  margin: 5%;
}
.gridContainerYH {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 25px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5%;
  overflow: hidden;
  border-radius: 10px;
}
.gridItem2{
  background-image: url(../img/väggen.jpg);
  color: white;
  max-width: 600px;
}

#testwidth {
  width: 600px;
}

#testwidth1 {
  width: 600px;
}

#testwidth2 {
  width: 600px;
}
@media screen and (max-width: 768px){
  .snabbInfoContainer{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
            "header"
            "navigation"
            "main-content"
            "footer";
    grid-gap: 20px;
    height: 350px;
    border-radius: 0px;
    margin-bottom: 0%;
  }
  .gridContainerYH{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto 50px;
    grid-template-areas:
            "header"
            "navigation"
            "main-content"
            "footer";
    grid-gap: 20px;
    margin-top: 0%;
    border-radius: 0px;
    width: auto;
  }

  .snabbFakta{
    font-size: 30px;
  }
  .listTitel{
    font-size: 40px;
  }
  #person {
    object-fit: contain;
    /* max-height: 300px; */
    margin-left: 5%;
  }
  .container {
    display: inline-block;
    width: 35%;
    vertical-align: unset;
  }
}
